<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Graphy</title>
    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <!-- Icono -->
    <link rel="shortcut icon" type="image/x-icon" href="../resources/modelado.ico">
    <!--Fonts-->
    <link href="https://fonts.googleapis.com/css2?family=Grand+Hotel&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Urbanist:wght@500&display=swap" rel="stylesheet">
    <!--Boostrap-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/flexboxgrid/6.3.1/flexboxgrid.min.css" type="text/css" >
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
   
    <!--css-->
    <link rel="stylesheet" href="../css/index.css">
</head>
<body>
    <!--Menú pegajoso - superior-->
    <div class="menu_superior">
        <ul>
            <li class="izquierda"><a href="./graphy.html">¿Qué es Graphy?</a></li>
            <li class="izquierda"><a href="">Herramientas</a>
                <ul>
                    <li><a href="./grafos.html">Grafos</a></li>
                    <li><a href="./johnson.html">Algoritmo de Johnson</a></li>
                    <li><a href="./asignacion.html">Algoritmo de Asignación</a></li>
                    <li><a href="./northwest.html">Algoritmo Northwest</a></li>
                    <li><a href="./kruskal.html">Algoritmo de Kruskal</a></li>
                    <li><a href="./dijkstra.html">Algoritmo de Djikstra</a></li>
                </ul>
            </li>
            <li class="izquierda"><a href="">Extras</a>
                <ul>
                    <li><a href="./ordenamiento.html">Algoritmos de ordenamiento</a></li>
                    <li><a href="./arboles.html">Árboles binarios</a></li>
                </ul>
            </li>
            <li class="derecha"><a href="./menuales.html">Manuales</a></li>
            <li class="derecha">
                <button type="submit" class="open" data-toggle="modal" data-target="#contactanos" onclick="">Contáctanos</button>
            </li>
        </ul>
    </div>
    <!--Cuerpo de la página-->
    <div id="contenedor">
        <!--Parte 1-->
        <div class="contenedor-arriba">
            <div class="logo">
                <div>
                    <div class="imagen_titulo">
                        <img src="../resources/inicio/graphy.png" alt="graphy">
                    </div>
                    <div class="boton">
                        <button> <a style="color: white;" href="#todas-las-herramientas">Empezar 🤗</a> </button>
                    </div>
                </div>
            </div>
            <div class="gift">
                <img src="../resources/inicio/giftGrafo.gif" alt="GraphyGift"> 
            </div>
        </div>
        <!--Parte 2-->
        <div class="imagenConexion">
            <img src="../resources/inicio/conexion.png" alt="Conexion">
        </div>
        <div class="contenido1">
            <div>
                <h3>Crea tus Grafos!</h3>
                <p>
                    En matemáticas y ciencias de la computación, un grapho es una estructura que permite modelar problemas de la vida cotidiana, mediante una representación gráfica formada por nodos o vértices que simbolizan a los actores y aristas que sirven para representar los lazos o relaciones entre los actores.
                </p>
            </div>
        </div>
        <!--Parte 3-->
        <div class="imagenOsito">
            <img src="../resources/inicio/osito.png" alt="Osito">
        </div>
        <div class="contenido2">
            <div>
                <h3>Enfócalos al tema de tu agrado!</h3>
                <p>
                    Los graphos permiten estudiar las interrelaciones entre unidades que interactúan unas con otras. Así mismo, un grafo puede representar un único tipo de relación entre los actores (simple), o más de un tipo de relación (múltiple), además cada vinculo o relación puede ser orientado.
                </p>
            </div>
        </div>
        <!--Parte 4-->
        <div class="imagenDisquete">
            <img src="../resources/inicio/disquete.png" alt="Disquete">
        </div>
        <div class="contenido3">
            <div>
                <h3>Guarda y carga tus Grafos!</h3>
                <p>
                    Diseña tus grafos en la aplicación Graphy, orientados a la representación de tu tema seleccionado y trabaja en el todo el tiempo que necesites.
                </p>
            </div>
        </div>
        <!--Linea de division-->
        <div class="linea">
            <hr> 
        </div>
    </div>
    <hr id="todas-las-herramientas" style="margin: 0 80px 50px 80px;">
    <h5 style="margin-left: 5%; font-size: 2.5rem; color: #817f7f;">Todas nuestras herramientas</h5>
    <!-- Tarjetitos -->
    <div class="contenedor-cajitas">
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-3" >
                <div class="card" >
                    <img src="../resources/inicio/grafos.png" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">Grafos</h5>
                      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                      <a href="./grafos.html" class="btn btn-primary">Iniciar ✅</a>
                    </div>
                  </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-3" >
                <div class="card">
                    <img src="../resources/inicio/johnson.png" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">Algoritmo de Johnson</h5>
                      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                      <a href="./johnson.html" class="btn btn-primary">Iniciar ✅</a>
                    </div>
                  </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-3" >
                <div class="card">
                    <img src="../resources/inicio/asignacion.png" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">Algoritmo de Asignación</h5>
                      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                      <a href="./asignacion.html" class="btn btn-primary">Iniciar ✅</a>
                    </div>
                  </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-3" >
                <div class="card">
                    <img src="../resources/inicio/northwest.png" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">Algoritmo Northwest</h5>
                      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                      <a href="./northwest.html" class="btn btn-primary">Iniciar ✅</a>
                    </div>
                  </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-3" >
                <div class="card">
                    <img src="../resources/inicio/ordenamiento.png" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">Ordenamientos</h5>
                      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                      <a href="../views/ordenamiento.html" class="btn btn-primary">Iniciar ✅</a>
                    </div>
                  </div>
            </div>
            <div class="col-xs-12 col-sm-4 col-md-3" >
                <div class="card" >
                    <img src="../resources/inicio/arboles.png" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">Árboles binarios</h5>
                      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                      <a href="./arboles.html" class="btn btn-primary">Iniciar ✅</a>
                    </div>
                  </div>
            </div>
            <div class="col-xs-12 col-sm-4 col-md-3" >
                <div class="card" >
                    <img src="../resources/inicio/kruskal.png" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">Algoritmo de Kruskal</h5>
                      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                      <a href="./kruskal.html" class="btn btn-primary">Iniciar ✅</a>
                    </div>
                  </div>
            </div>
            <div class="col-xs-12 col-sm-4 col-md-3" >
                <div class="card" >
                    <img src="../resources/inicio/djisktra.png" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">Algoritmo de Djikstra</h5>
                      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                      <a href="./dijkstra.html" class="btn btn-primary">Iniciar ✅</a>
                    </div>
                  </div>
            </div>
        </div>
    </div>
    <!-- Modal - ventalla emergente - contactanos -->
    <div class="modal fade" id="contactanos" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Contáctanos</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div id="contactos" class="modal-body">
                    <div class="slide-container" id="informacionContactanos">
                        <!--Lista de integrantes-->
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Aceptar</button>
                </div>
            </div>
        </div>
    </div>
</body>
<script type="text/javascript" src="../js/index.js"></script>
</html>