<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Graphy</title>
    <!-- Icono -->
    <link rel="shortcut icon" type="image/x-icon" href="../resources/modelado.ico">
    <!--Fonts-->
    <link href="https://fonts.googleapis.com/css2?family=Grand+Hotel&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Urbanist:wght@500&display=swap" rel="stylesheet">
    <!--css-->
    <link rel="stylesheet" href="../css/graphy.css">
</head>
<body>
    <div class="graphy">
        <img src="../resources/modelado.png" alt="logo_graphy" style="height: 50px;">Graphy</li>
    </div>
    <div id="cuerpo">
        <div id="contenido">
            <div class="boton">
                <button type="button" class="botonAtras" onclick="window.location.href='./index.html'">
                    <img src="../resources/manuales/casita.png" alt="atras">
                </button>
            </div>
            <div class="titulo">
                <h1>Graphy la aplicación, que te permite crear graphos e implementar algoritmos con sus matrices</h1>
            </div>
            <div id="descripcion">
                <div class="texto">
                    <p>En matemáticas y ciencias de la computación, un grapho es una estructura que permite modelar problemas de la vida cotidiana, mediante una representación gráfica formada por nodos o vértices que simbolizan a los actores y aristas que sirven para representar los lazos o relaciones entre los actores. Los graphos permiten estudiar las interrelaciones entre unidades que interactúan unas con otras.</p>
                </div>
                <div class="imagen">
                    <img src="../resources/inicio/giftGraphy.gif" alt="GraphyGift">
                </div>
            </div>
        </div>
    </div>
</body>
</html>