<!DOCTYPE html>
<html lang="en">
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<!--Dentro de la etiqueta <head> va informacion que mayormente el usuario no puede ver.-->
<head>
  <meta charset="UTF-8">
  <title>Grafos Puntos de Vacunación</title>
  <!-- Fonts -->
  <link href="https://fonts.googleapis.com/css2?family=Cookie&family=Lobster&family=Roboto+Mono&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=ZCOOL+QingKe+HuangYou&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Kreon&family=Laila:wght@500&family=ZCOOL+QingKe+HuangYou&display=swap" rel="stylesheet">

  <!--La siguiente etiqueta permite relacionar el archivo htlm con la libreria bootstrap-->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
    integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
    integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
    crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

  <!--La siguiente etiqueta permite relacionar el archivo htlm con la libreria jquery-->
  <script src="https://code.jquery.com/jquery-3.5.1.min.js" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js" integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU=" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>

  <!--La siguiente etiqueta permite relacionar el archivo htlm con la libreria jsplumb-->
  <script src="../node_modules/jsplumb/dist/js/jsplumb.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.10.1/html2pdf.bundle.min.js" integrity="sha512-GsLlZN/3F2ErC5ifS5QtgpiJtWd43JWSuIgh7mbzZ8zBps+dvLusV+eNQATqgA/HdeKFVgA5v3S/cIrLF7QnIg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  
    <!--La siguiente etiqueta permite relacionar el archivo htlm con el css-->
  <link href="./cardsStyle.sass">
  <link rel="stylesheet" href="../css/johnson.css">

  <!-- Icono -->
  <link rel="shortcut icon" type="image/x-icon" href="../resources/modelado.ico">
</head>

<!--Navegación principal-->
<nav>
  <ul>
    <li style="position: absolute; top: 15px; left: 20px; width: 50px;" id="casita"><a href="./index.html">
      <img style="width: 55px; height: 45px;" src="../resources/grafo/casa.png" alt="atras">
    </a></li>
    <li>
      <!--Generar matriz-->
    <button type="button" class="btn btn-outline-dark" data-toggle="modal" data-target="#matriz" onclick="mostrarMatriz('#tablaMatriz')">Generar matriz</button>
      </li>
    <li>
      <!--Generar información-->
    <button type="button" class="btn btn-outline-dark" data-toggle="modal" data-target="#informacion" id="GenerarInfo" onclick="mostrarMatriz('#matrizDeAdyacenciaInfo')">Generar información</button>
    </li>
    <li>
      <!--Generar atributos iniciales y finales, holgura y camino critico-->
    <button type="button" class="btn btn-outline-dark" onclick="calcular('calcularAtributos')">Calcular atributos</button>
    </li>
    
    <li>
      <!--Manual-->
      <button type="button" class="btn btn-dark" id="descargarManual"><a href="../resources/manuales/pdf/ManualDeUsuario_Johnson.pdf" target="_blank" style="color: white !important;">Help</a></button>
      
    </li>
  </ul>
</nav>
<!--poner en otro outline o barra de opciones
<--Guardar Graphy--
<button type="button" class="btn btn-outline-dark" data-toggle="modal" id="guardarGrafo" data-target="#inputNombreArchivo" onclick="">Guardar graphy</button>
<--Subir graphy--
<button type="button" class="btn btn-outline-dark" id="subirGrafo">Subir graphy</button>
<input type="file" id="file-input" style="display: none;"/>
-->

<!--Dentro de la etiqueta <body> va a contenerse todo lo que es el cuerpo de lo que es nuestro html (el usuario lo va a ver).-->
<body>
  <!-- Contenedor principal -->
  <div class="container-fluid">
    <div class="row">
      <!-- Div para la caja de herrramientas -->
      <div class="col-md-2">
        <div id="toolbox" class="justify-content-center" style="height: 77vh !important; position: relative">
          <h3 id="elementos"><strong>Herramientas</strong></h3>
          <ul id="lista-ref1" style="list-style: none;">
            <li>◻️ Entrada de enlaces</li>
            <br>
            <li>⚪ Salida de enlaces</li>
          </ul>
          <div class="control new" style="left: 50px; top: 50px" id="cajita">
            <!-- Estacion vacunas -->
            <img src="../resources/grafo/nodoPio.png" alt="estacion" width="45px" height="45px">
            <table style="margin: 0 auto; margin-top: 5px;">
              <tr>
                <td id="valor1">0</td><td id="valor2">0</td>
              </tr>
            </table>
            Punto de vacunación
          </div>
          
          <div id="flechas" class="justify-content-center" style="left: 50px; top: 50px">
            <div class="flecha"><img src="../resources/grafo/fecha_sinconectar.png" width="30px">Sin valor de atributo</div>
            <div class="flecha"><img src="../resources/grafo/fecha_conecta.png" width="30px">Con valor de atributo</div>
            <div class="flecha"><img src="../resources/grafo/flecha_critica.png" width="30px">Ruta crítica</div>
          </div>
          <!-- Checkbox -->
          <div id="contenedor-cb">
            <div class="form-check" id="checkbox-fondo">
              <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" onclick="funcionFondoCB()">
              <label class="form-check-label" for="flexCheckDefault">
                Fondo Blanco
              </label>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <!-- Div para el diagrama -->
      <div class="col-md-10">
        <div id="habilitar-div" class="habilitar">
          <button id="botonMovilidad" class="btn btn-success" onclick="drag()">Habilitar edición</button>
        </div>
        <div id="diagram" style="height: 77vh !important; position: relative">
          <!-- Div para los nodos y conexiones -->
        </div>
      </div>
    </div>
  </div>
  <script>
    var primerNodoId = "";
    var contador = 1;
    var cantidadDeNodos = 0;
    // https://stackoverflow.com/a/2117523
    function uuidv4() {
      return 'xxxxxxxx-xxxx-4xxx-yxxx-xxxxxxxxxxxx'.replace(/[xy]/g, function (c) {
        var r = Math.random() * 16 | 0, v = c == 'x' ? r : (r & 0x3 | 0x8);
        return v.toString(16);
      });
    }
    instance = jsPlumb.getInstance({});
    instance.setContainer("diagram");
    instance.bind("ready", function () {
      // Caracteristicas (estilo) de la conexion.
      instance.registerConnectionTypes({
        "green-connection": {
          paintStyle: { stroke: "orange", strokeWidth: 2 },
          hoverPaintStyle: { stroke: "#FF8000", strokeWidth: 3 },
          connector: "Straight", //Bezier, Flowchart, Straight, StateMachine
          overlays: [["Arrow", { location: 0.9, width: 20, length: 20, foldback: 0.9 }],
          ["Label", { label: "", location: 0.25 }]]
        }//----------------------------------------------------------------------------------//
        , "red-connection": {
          paintStyle: { stroke: "black", strokeWidth: 2 },
          hoverPaintStyle: { stroke: "#000000", strokeWidth: 3 },
          connector: "Straight", //Bezier, Flowchart, Straight, StateMachine
          overlays: [["Arrow", { location: 0.9, width: 20, length: 20, foldback: 0.9 }],
          ["Label", { label: "${label}", location: 0.25 }]]
        }
        , "blue-connection": {
          paintStyle: { stroke: "#FA4CAB", strokeWidth: 2 },
          hoverPaintStyle: { stroke: "#FA3CAB", strokeWidth: 3 },
          connector: "Straight", //Bezier, Flowchart, Straight, StateMachine
          overlays: [["Arrow", { location: 0.9, width: 20, length: 20, foldback: 0.9 }],
          ["Label", { label: "", location: 0.25 }]]
        }
      });

      // Para que al momento de presionar una conexión se active el boton de eliminar.
      instance.bind("contextmenu", function (component, event) {
        if (component.hasClass("jtk-connector")) {
          event.preventDefault();
          window.selectedConnection = component;
          var elemento = window.selectedConnection.sourceId + "" + window.selectedConnection.targetId;
          $(`<div class="custom-menu">
              <button class="btn btn-warning" id="delete-connection" style="margin-bottom: 5px">Eliminar conexión</button>
              <button type="button" class="btn btn-warning" data-toggle="modal" data-target="#valor"
              onclick = valorActual("${elemento}")>Cambiar valor</button>
              </div>`)
            .appendTo("body")
            .css({ top: event.pageY + "px", left: event.pageX + "px" });
        }
      });


      $("body").on("click", "#delete-connection", function (event) {
        instance.deleteConnection(window.selectedConnection);
        let sourceId = window.selectedConnection.sourceId;
        let targetId = window.selectedConnection.targetId;
        let key = sourceId + targetId;
        eliminarAtributoArray(key);
      });


      // Elimina el menu cuando se elimina la conexion o cuando se presiona en otro lugar.
      $(document).bind("click", function (event) {
        $("div.custom-menu").remove();
      });

      // Para eliminar un elemento y sus conexiones. 
      $("body").on("contextmenu", "#diagram .control", function (event) {
        event.preventDefault();
        window.selectedControl = $(this).attr("id");
        $("<div class='custom-menu'><button class='btn btn-warning' id='delete-control'>Eliminar nodo</button></div>")
          .appendTo("body")
          .css({ top: event.pageY + "px", left: event.pageX + "px" });
      });

      // Elimina el menu cuando se elimina la conexion o cuando se presiona en otro lugar.
      $("body").on("click", "#delete-control", function (event) {
        nodo = window.selectedControl;
        instance.remove(nodo);
        eliminarNodo(nodo);
        cantidadDeNodos--;
      });

      // Para poder arrastrar los elementos al momento de clonarlos
      $("#toolbox .control").draggable({
        helper: "clone",
        containment: "body",
        appendTo: "#diagram"
      });

      // Hacer que al momento de clonar un elemento se cree y se pueda arrastrar.
      $("#diagram").droppable({
        drop: function (event, ui) {
          var id = uuidv4();

          var clone = $(ui.helper).clone(true);
          clone.attr("id", id);
          clone.appendTo(this);
          document.getElementById(id).innerHTML += contador;
          contador++;
          cantidadDeNodos++;
          instance.draggable(id, { containment: true });
          if (cantidadDeNodos != 1) {
            // Punto inicial del clone.
            instance.addEndpoint(id, {
              endpoint: ["Dot", { radius: 5 }],  // rectangle, blank, image
              anchor: "Continuous",
              isSource: true,
              maxConnections: -1,
              connectionType: "red-connection"
            });
            // Punto final del clone.
            instance.addEndpoint(id, {
              endpoint: ["Rectangle", { width: 10, height: 10 }],
              anchor: "Continuous",
              isTarget: true,
              maxConnections: -1,
              connectionType: "red-connection"
            });
          }
          else {
            instance.addEndpoint(id, {
              endpoint: ["Dot", { radius: 5 }],  // rectangle, blank, image
              anchor: "Continuous",
              isSource: true,
              maxConnections: -1,
              connectionType: "red-connection"
            });
          }
        }
      })

      instance.bind("connection", function (info) {
        if (info.sourceId == info.targetId) {
          instance.deleteConnection(info.connection);
        }
      });
    });

    function guardarValor() {
      let value = document.getElementById('valorNuevo').value;
      let sourceId = window.selectedConnection.sourceId;
      let targetId = window.selectedConnection.targetId;
      let key = sourceId + targetId;
      instance.deleteConnection(window.selectedConnection); //Eliminamos
      crearNuevaFlecha(sourceId, targetId, value);
      guardarAtributo(key, value);
    }

    function crearNuevaFlecha(src, trg, value) {
      var endpoint1 = instance.getEndpoints(src)[0];
      if (!endpoint1.isSource) {
        endpoint1 = instance.getEndpoints(src)[1];
      }
      var endpoint2 = instance.getEndpoints(trg)[0];
      if (!endpoint2.isTarget) {
        endpoint2 = instance.getEndpoints(trg)[1];
      }
      //console.log(endpoint1 + " " + endpoint2);
      instance.connect({
        source: endpoint1,
        target: endpoint2,
        type: "green-connection", data: { label: value }
      });
    }

    //Cambiar color de la flecha
    function cambiarColor(conexion, holgura) {
        let value = conexion.valor;
        let sourceId = conexion.llave.substr(0,36);
        let targetId = conexion.llave.substr(-36);
        var conn = instance.getConnections({
            source: sourceId,
            target: targetId
        });
        if (conn[0]) {
          instance.deleteConnection(conn[0]);
        }
        if(holgura==0){
          crearNuevaFlechaColor(sourceId, targetId, value, holgura, "blue-connection");
        } else{
          crearNuevaFlechaColor(sourceId, targetId, value, holgura, "green-connection");
        }
    }

    function crearNuevaFlechaColor(src, trg, value, holgura, tipo) {
      var endpoint1 = instance.getEndpoints(src)[0];
      if (!endpoint1.isSource) {
        endpoint1 = instance.getEndpoints(src)[1];
      }
      var endpoint2 = instance.getEndpoints(trg)[0];
      if (!endpoint2.isTarget) {
        endpoint2 = instance.getEndpoints(trg)[1];
      }
      var valor = "h = "+ holgura +"\n"+value;
      instance.connect({
        source: endpoint1,
        target: endpoint2,
        type: tipo, data: { label: valor }
      });
    }
    //Agregar movilidad a los elementos subidos.
    function drag(){
      var flag = false;
      $(".jtk-endpoint").remove();
      $(".jtk-connector").remove();
      if(tieneHolguras()){
        flag = true;
      }
      $(".jtk-overlay").remove();  
      instance.draggable($('.control'));
      agregarEndPoints();
      generarConexiones();
      eliminarBloqueComentario();
      document.querySelector("#habilitar-div").classList.remove('habilitar-activo');
      var nodos = document.getElementsByClassName('control');
      for(i=0; i<nodos.length; i++){
        contador = parseInt(nodos[i].innerHTML.substr(nodos[i].innerHTML.length-8, nodos[i].innerHTML.length))+1;
      }
      cantidadDeNodos = nodos.length;
      if(flag){
        calcularAtributos('calcularAtributos');
        calcularHolgura();
      } else if(tieneAtributos()){
        calcularAtributos('calcularAtributos');
      }
    }
    function tieneAtributos(){
      flag = false;
      var valoresAtributos = document.getElementById('diagram').getElementsByTagName('td');
      for(n=0; n<valoresAtributos.length; n++){
        if(valoresAtributos[n].innerText != 0){
          flag = true;
          break;
        }
      }
      return flag;
    }
    function tieneHolguras(){
      var flag = false;
      var diagrama = document.getElementById('diagram').innerHTML;
      if(diagrama.includes('h =')){
        flag = true;
      }
      return flag;
    }
    function eliminarBloqueComentario(){
      $(".contenedor-conexiones").remove();
    }
    function generarConexiones(){
      var htmlDiagram = document.getElementById("diagram").innerHTML;
      var cadena = htmlDiagram.substring(htmlDiagram.indexOf('llave:'),htmlDiagram.indexOf("|-->"));
      var elementos = cadena.split('|');
      for(n=0;n<elementos.length;n++){
        var llave = elementos[n].substring(elementos[n].indexOf(':')+1,elementos[n].indexOf(','));
        var valor = elementos[n].substring(elementos[n].indexOf('valor:')+6,elementos[n].length);
        var sourceId = llave.substring(0,36);
        var targetId = llave.substring(36,llave.length);
        crearNuevaFlecha(sourceId,targetId,valor);
        guardarAtributo(llave,valor);
      }
    }
    function agregarEndPoints(){
      var nodos = document.getElementsByClassName('control');
      for(i=1;i<nodos.length;i++){
        if(i==1){
          instance.addEndpoint(nodos[i].id, {
              endpoint: ["Dot", { radius: 5 }],  // rectangle, blank, image
              anchor: "Continuous",
              isSource: true,
              maxConnections: -1,
              connectionType: "red-connection"
            });
        }else{
          // Punto inicial del clone.
          instance.addEndpoint(nodos[i].id, {
              endpoint: ["Dot", { radius: 5 }],  // rectangle, blank, image
              anchor: "Continuous",
              isSource: true,
              maxConnections: -1,
              connectionType: "red-connection"
            });
            // Punto final del clone.
            instance.addEndpoint(nodos[i].id, {
              endpoint: ["Rectangle", { width: 10, height: 10 }],
              anchor: "Continuous",
              isTarget: true,
              maxConnections: -1,
              connectionType: "red-connection"
            });
        }
      }
    }
  </script>

  <!-- Modal - ventalla emergente - agregar valor a la flecha -->
  <div class="modal fade" id="valor" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Atributo</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <label>Valor actual de la conexión:</label>
          <input id="valorActual" disabled="true">
          <label>Ingrese el valor para la conexión:</label>
          <input id="valorNuevo" type="text" value="" maxlength="9"
            onKeypress="if (event.keyCode < 45 || event.keyCode > 57) event.returnValue = false;">
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
          <button type="button" class="btn btn-warning" data-dismiss="modal" onclick="guardarValor()">Guardar</button>
        </div>
      </div>
    </div>
  </div>

  <div class="botones">
    
  </div>
  <!-- Modal - ventalla emergente - matriz generada -->
  <div class="modal fade" id="matriz" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
      <div class="modal-content" id="matriz-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Matriz de adyacencia</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div id="tablaMatriz" class="modal-body">
          <!-- Tabla de valores -->
        </div>
        <div class="modal-footer" id="matriz-footer">
          <!--<button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>-->
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Aceptar</button>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal - ventalla emergente - informacion generada -->
  <div class="modal fade" id="informacion" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
      <div class="modal-content" id="informacion-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Información</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div id="pdf" class="modal-body">
          <p>
            <strong>Descripción general:</strong></br>
            El presente grafo es una demostración de los puntos de vacunación contra COVID-19 que hay en la ciudad de La
            Paz y la distribución de vacunas de un punto de vacunación a otro. En dicho grafo el usuario agregó distintos
            puntos de vacunación en el espacio de trabajo designado. Posteriormente se realizaron las conexiones entre los 
            puntos de vacunación y se modificaron los valores.</br></br>
            <strong>Matriz de adyacencia:</strong></br>
          </p>
          <div id="matrizDeAdyacenciaInfo"></div>
          <div id="infoCaminoCritico">
            <!--Informacion del camino critico-->
          </div>
        </div>
        <div class="modal-footer" id="informacion-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Salir</button>
          <button type="button" class="btn btn-warning" data-dismiss="modal" id="generador">Generar PDF</button>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal - ventalla emergente - Nombre del archivo -->
  <div class="modal fade" id="inputNombreArchivo" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Nombre del archivo</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <label style="margin-left:2vw;">Ingrese el nombre con el que desea guardar el archivo:</label>
          <input style="margin-left:10vw;" type="text" id="nombreArchivo">
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal" onclick="guardarGrafo()">Aceptar</button>
        </div>
      </div>
    </div>
  </div>
</body>
<script type="text/javascript" src="../js/johnson.js"></script>

</html>