<!DOCTYPE html>
<html lang="en">
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<!--Dentro de la etiqueta <head> va informacion que mayormente el usuario no puede ver.-->
<head>
  <meta charset="UTF-8">
  <title>Grafos - Algoritmo de Kruskal</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Cookie&family=Lobster&family=Roboto+Mono&display=swap"
    rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=ZCOOL+QingKe+HuangYou&display=swap" rel="stylesheet">
  <link
    href="https://fonts.googleapis.com/css2?family=Kreon&family=Laila:wght@500&family=ZCOOL+QingKe+HuangYou&display=swap"
    rel="stylesheet">

  <!--La siguiente etiqueta permite relacionar el archivo htlm con el css-->
  <link href="./cardsStyle.sass">
  <link rel="stylesheet" href="../css/kruskal.css">

  <!--La siguiente etiqueta permite relacionar el archivo htlm con la libreria bootstrap-->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
    integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
    integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
    crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

  <!--La siguiente etiqueta permite relacionar el archivo htlm con la libreria jquery-->
  <script src="https://code.jquery.com/jquery-3.5.1.min.js"
    integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"
    integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU=" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
    crossorigin="anonymous"></script>

  <!--La siguiente etiqueta permite relacionar el archivo htlm con la libreria jsplumb-->
  <script src="../node_modules/jsplumb/dist/js/jsplumb.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.10.1/html2pdf.bundle.min.js"
    integrity="sha512-GsLlZN/3F2ErC5ifS5QtgpiJtWd43JWSuIgh7mbzZ8zBps+dvLusV+eNQATqgA/HdeKFVgA5v3S/cIrLF7QnIg=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>

  <!-- Icono -->
  <link rel="shortcut icon" type="image/x-icon" href="./resources/otros/modelado.ico">
</head>

<!-- Navegación principal -->
<nav>
  <ul>
    <li id="casita"><a href="index.html"><img style="position: absolute; left: 20px; width: 50px; top: 20px;" src="../resources/images/casita.png" alt=""></a></li>
    <li class="nav-item" id="nombreEmpresa"><img src="../resources\images\modelado.png" alt="logo_graphy"
        style="height: 50px;">Graphy</li>
  </ul>
</nav>

<!--Dentro de la etiqueta <body> va a contenerse todo lo que es el cuerpo de lo que es nuestro html
  (el usuario lo va a ver).-->

<body>
  <!-- Contenedor principal -->
  <div class="container-fluid">
    <div class="row">
      <!-- Div para la caja de herrramientas -->
      <div class="col-md-2">
        <div id="toolbox" class="justify-content-center">
          <h3><strong>Elementos</strong></h3>
          <br><br>
          <ul style="list-style: none; margin-left: -30%;">
            <br>
            <li>🔵 Para salida de enlaces</li>
          </ul>
          <div class="control"  id="cajita">
            <img src="../resources/images/flor.png" alt="nodo" width="45px" height="45px" >
            <h6>Nodo</h6>
          </div>
         <hr style="width: 100%;">
          <div id="flechas" class="justify-content-center" style="left: 50px; top: 50px" >
            <img src="../resources/images/red_arrow.png" width="50px" height="35px">
            <h6>Sin atributos</h6>
            <img src="../resources/images/green_arrow.png" width="50px" height="35px">
            <h6>Con atributos</h6>
            <img src="../resources/images/yellow_arrow.png" width="50px" height="35px">
            <h6>Camino máximo</h6>
            <img src="../resources/images/blue_arrow.png" width="50px" height="35px">
            <h6>Camino mínimo</h6>
            
          </div>
        </div>
      </div>

      <!-- Div para el diagrama -->
      <div class="col-md-9">
        <div id="habilitar-div" class="habilitar">
          <button id="botonMovilidad" class="btn btn-success" onclick="drag()">Habilitar edición</button>
        </div>
        <div id="diagram" class="scroll-bar-vertical scroll-bar-horizontal" style="height: 90vh; position: relative">
        </div>
      </div>
    </div>
  </div>
  <!-- Checkbox -->
  <div id="contenedor-cb">
    <div class="form-check" id="checkbox-fondo">
      <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" onclick="funcionFondoCB()">
      <label class="form-check-label" for="flexCheckDefault">
        Fondo Blanco
      </label>
    </div>
  </div>
  <script>
    var contador = 1;
    // https://stackoverflow.com/a/2117523
    function uuidv4() {
      return 'xxxxxxxx-xxxx-4xxx-yxxx-xxxxxxxxxxxx'.replace(/[xy]/g, function (c) {
        var r = Math.random() * 16 | 0, v = c == 'x' ? r : (r & 0x3 | 0x8);
        return v.toString(16);
      });
    }
    instance = jsPlumb.getInstance({});
    instance.setContainer("diagram");
    instance.bind("ready", function () {
      // Caracteristicas (estilo) de la conexion.
      instance.registerConnectionTypes({
        "green-connection": {
          paintStyle: { stroke: "green", strokeWidth: 3 },
          hoverPaintStyle: { stroke: "#67CB57", strokeWidth: 4 },
          connector: "Straight", //Bezier, Flowchart, Straight, StateMachine
          overlays: [
          ["Label", { label: "", labelLocation: 0.5 }]]
        }//----------------------------------------------------------------------------------//
        , "red-connection": {
          paintStyle: { stroke: "red", strokeWidth: 3 },
          hoverPaintStyle: { stroke: "#E43B45", strokeWidth: 4 },
          connector: "Straight", //Bezier, Flowchart, Straight, StateMachine
          overlays: [
          ["Label", { label: "${label}", location: 0.25 }]]
        }
        , "blue-connection": {
          paintStyle: { stroke: "#014188", strokeWidth: 3 },
          hoverPaintStyle: { stroke: "#0064B0", strokeWidth: 4 },
          connector: "Straight", //Bezier, Flowchart, Straight, StateMachine
          overlays: [
          ["Label", { label: "", location: 0.25 }]]
        },
        "yellow-connection": {
          paintStyle: { stroke: "#D5B60A", strokeWidth: 3 },
          hoverPaintStyle: { stroke: "#FFDD00", strokeWidth: 4 },
          connector: "Straight", //Bezier, Flowchart, Straight, StateMachine
          overlays: [
          ["Label", { label: "", location: 0.25 }]]
        }
      });

      // Para que al momento de presionar una conexión se active el boton de eliminar.
      instance.bind("contextmenu", function (component, event) {
        if (component.hasClass("jtk-connector")) {
          event.preventDefault();
          window.selectedConnection = component;
          var elemento = window.selectedConnection.sourceId + "" + window.selectedConnection.targetId;
          $(`<div class="custom-menu">
              <button class="btn btn-primary" id="delete-connection" style="margin-bottom: 5px">Eliminar conexión</button>
              <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#valor"
              onclick = valorActual("${elemento}")>Cambiar valor</button>
              </div>`)
            .appendTo("body")
            .css({ top: event.pageY + "px", left: event.pageX + "px" });
        }
      });


      $("body").on("click", "#delete-connection", function (event) {
        instance.deleteConnection(window.selectedConnection);
        let sourceId = window.selectedConnection.sourceId;
        let targetId = window.selectedConnection.targetId;
        let key = sourceId + targetId;
        eliminarAtributoArray(key);
      });


      // Elimina el menu cuando se elimina la conexion o cuando se presiona en otro lugar.
      $(document).bind("click", function (event) {
        $("div.custom-menu").remove();
      });

      // Para eliminar un elemento y sus conexiones. 
      $("body").on("contextmenu", "#diagram .control", function (event) {
        event.preventDefault();
        window.selectedControl = $(this).attr("id");
        $("<div class='custom-menu'><button class='btn btn-primary' id='delete-control'>Eliminar nodo</button></div>")
          .appendTo("body")
          .css({ top: event.pageY + "px", left: event.pageX + "px" });
      });

      // Elimina el menu cuando se elimina la conexion o cuando se presiona en otro lugar.
      $("body").on("click", "#delete-control", function (event) {
        nodo = window.selectedControl;
        instance.remove(nodo);
        eliminarNodo(nodo);
      });

      // Para poder arrastrar los elementos al momento de clonarlos
      $("#toolbox .control").draggable({
        helper: "clone",
        containment: "body",
        appendTo: "#diagram"
      });

      // Hacer que al momento de clonar un elemento se cree y se pueda arrastrar.
      // Hacer que al momento de clonar un elemento se cree y se pueda arrastrar.
      $("#diagram").droppable({
        drop: function (event, ui) {
          var id = uuidv4();

          var clone = $(ui.helper).clone(true);
          clone.attr("id", id);
          clone.appendTo(this);
          document.getElementById(id).getElementsByTagName('h6')[0].innerText += (" "+contador);
          contador++;
          instance.draggable(id, { containment: true });
            // Punto final del clone.
            instance.addEndpoint(id, {
              endpoint: ["Rectangle", { width: 8, height: 8 }],
              anchor: "Center",
              isTarget: true,
              maxConnections: -1,
              connectionType: "red-connection"
            });
            instance.addEndpoint(id, {
              endpoint: ["Dot", { radius: 5 }],
              anchor: "Center",
              isSource: true,
              maxConnections: -1,
              connectionType: "red-connection"
            });
          }
        
      })
    });

    function guardarValor() {
      let value = document.getElementById('valorNuevo').value;
      let sourceId = window.selectedConnection.sourceId;
      let targetId = window.selectedConnection.targetId;
      let key = sourceId + targetId;
      instance.deleteConnection(window.selectedConnection); //Eliminamos
      crearNuevaFlecha(sourceId, targetId, value);
      guardarAtributo(key, value);
    }

    function crearNuevaFlecha(src, trg, value) {
      var endpoint1 = instance.getEndpoints(src)[0];
      if (!endpoint1.isSource) {
        endpoint1 = instance.getEndpoints(src)[1];
      }
      var endpoint2 = instance.getEndpoints(trg)[0];
      if (!endpoint2.isTarget) {
        endpoint2 = instance.getEndpoints(trg)[1];
      }
      //console.log(endpoint1 + " " + endpoint2);
      instance.connect({
        source: endpoint1,
        target: endpoint2,
        type: "green-connection", data: { label: value }
      });
    }

    //Agregar movilidad a los elementos subidos.
    function drag(){
      $(".jtk-endpoint").remove();
      $(".jtk-connector").remove();
      $(".jtk-overlay").remove();  
      instance.draggable($('.control'));
      agregarEndPoints();
      generarConexiones();
      eliminarBloqueComentario();
      document.querySelector("#habilitar-div").classList.remove('habilitar-activo');
      var nodosOrigen = document.getElementsByClassName('origen');
      var nodosDestino = document.getElementsByClassName('destino');
      //Actualizando contador nodos de origen
      for(i=1; i<nodosOrigen.length; i++){
        var nombreNodo = nodosOrigen[i].getElementsByTagName('h6')[0].innerText;
        var numero = parseInt(nombreNodo.substr(7, nombreNodo.length));
        console.log(nombreNodo.substr(7, nombreNodo.length));
        contadorOrigen = numero+1;
      }
      //Actualizando contador nodos de destino
      for(i=1; i<nodosDestino.length; i++){
        var nombreNodo = nodosDestino[i].getElementsByTagName('h6')[0].innerText;
        var numero = parseInt(nombreNodo.substr(8, nombreNodo.length));
        contadorDestino = numero+1;
      }
    }
    function eliminarBloqueComentario(){
      $(".contenedor-conexiones").remove();
    }
    function generarConexiones(){
      var htmlDiagram = document.getElementById("diagram").innerHTML;
      var cadena = htmlDiagram.substring(htmlDiagram.indexOf('llave:'),htmlDiagram.indexOf("|-->"));
      var elementos = cadena.split('|');
      for(n=0;n<elementos.length;n++){
        var llave = elementos[n].substring(elementos[n].indexOf(':')+1,elementos[n].indexOf(','));
        var valor = elementos[n].substring(elementos[n].indexOf('valor:')+6,elementos[n].length);
        var sourceId = llave.substring(0,36);
        var targetId = llave.substring(36,llave.length);
        crearNuevaFlecha(sourceId,targetId,valor);
        guardarAtributo(llave,valor);
      }
    }
    function agregarEndPoints(){
      var nodos = document.getElementsByClassName('control');
      for(i=1;i<nodos.length;i++){
        instance.addEndpoint(nodos[i].id, {
              endpoint: ["Rectangle", { width: 8, height: 8 }],
              anchor: "Center",
              isTarget: true,
              maxConnections: -1,
              connectionType: "red-connection"
            });
            instance.addEndpoint(nodos[i].id, {
              endpoint: ["Dot", { radius: 5 }],
              anchor: "Center",
              isSource: true,
              maxConnections: -1,
              connectionType: "red-connection"
            });
        
    }
  }
  </script>

  <!-- Modal - ventalla emergente - agregar valor a la flecha -->
  <div class="modal fade" id="valor" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Atributo</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <label>Valor actual de la conexión:</label>
          <input id="valorActual" disabled="true">
          <label>Ingrese el valor para la conexión:</label>
          <input id="valorNuevo" type="text" value="" maxlength="9"
            onKeypress="if (event.keyCode < 45 || event.keyCode > 57) event.returnValue = false;">
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
          <button type="button" class="btn btn-primary" data-dismiss="modal" onclick="guardarValor()">Guardar</button>
        </div>
      </div>
    </div>
  </div>

  <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#matriz" style="margin-left: 20px;"
    onclick="mostrarMatriz('#tablaMatriz')">Generar matriz</button>

  <!-- Modal - ventalla emergente - matriz generada -->
  <div class="modal fade" id="matriz" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
      <div class="modal-content" id="matriz-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Matriz de adyacencia</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div id="tablaMatriz" class="modal-body">
          <!-- Tabla de valores -->
        </div>
        <div class="modal-footer" id="matriz-footer">
          <!--<button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>-->
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Aceptar</button>
        </div>
      </div>
    </div>
  </div>

  <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#minimizacion" id="GenerarInfo" onclick="minimizar()">Minimizar</button>


  <!-- Modal - ventalla emergente - Matriz de asignacion generada -->
  <div class="modal fade" id="minimizacion" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content izquierda" id="matriz-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Minimizacion</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="contenedor-modal">
          <h6>Valores</h6>
          <div id="minimizar-valores"></div>
        </div>
          
        <div class="modal-footer" id="matriz-footer">
          <!--<button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>-->
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Aceptar</button>
        </div>
      </div>
    </div>
  </div>

  <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#maximizacion" id="GenerarInfo" onclick="maximizar()">Maximizar</button>

  <!-- Modal - ventalla emergente - Matriz de asignacion generada -->
  <div class="modal fade" id="maximizacion" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content izquierda" id="matriz-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Maximizacion</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="contenedor-modal">
          <h6>Valores</h6>
          <div id="maximizar-valores"></div>
        </div>
          
        <div class="modal-footer" id="matriz-footer">
          <!--<button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>-->
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Aceptar</button>
        </div>
      </div>
    </div>
  </div>
  


  

  <!--Guardar y Subir Graphy-->
  <!-- Modal - ventana emergente - Nombre del archivo -->
  <div class="modal fade" id="inputNombreArchivo" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Nombre del archivo</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div id="contactos" class="modal-body">
          <label style="margin-left:2vw;">Ingrese el nombre con el que desea guardar el archivo:</label>
          <input style="margin-left:8vw;" type="text" id="nombreArchivo">
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal" onclick="guardarGrafo()">Aceptar</button>
        </div>
      </div>
    </div>
  </div>
  <button type="button" class="btn btn-primary" data-toggle="modal" id="guardarGrafo" data-target="#inputNombreArchivo" onclick="">Guardar graphy</button>

  <!-- <button type="button" class="btn btn-primary" id="guardarGrafo" >Guardar graphy</button> -->
  <button type="button" class="btn btn-primary" id="subirGrafo">Subir graphy</button>
  <input type="file" id="file-input" style="display: none;"/>
  <button type="button" class="btn btn-primary" id="descargarManual"><a style="color: white !important;" href="../resources/manuales/pdf/ManualDeUsuario_Kruskal.pdf" target="_blank">Manual</a></button>
</body>
<script type="text/javascript" src="../js/kruskal.js"></script>

</html>