<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Manuales</title>
    <!-- Icono -->
    <link rel="shortcut icon" type="image/x-icon" href="../resources/modelado.ico">
    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Urbanist:wght@500&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@300&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Grand+Hotel&display=swap" rel="stylesheet">
    <!-- Boostrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <!--css-->
    <link rel="stylesheet" href="../css/manuales.css">
</head>
<body>
    <div class="graphy">
        <img src="../resources/modelado.png" alt="logo_graphy" style="height: 50px;">Graphy
    </div>
    <div id="contenido">
        <div class="boton">
            <button type="button" class="botonAtras" onclick="window.location.href='./index.html'">
                <img src="../resources/manuales/casita.png" alt="atras">
            </button>
        </div>
        <div class="titulo">
            <h1>Manuales</h1>
        </div>
        <div class="descripcion">
            Bienvenido!!! Gracias por confiar en graphy para realizar tus proyectos. En este espacio te facilitaremos algunos manuales de usuario para que puedas utilizar y disfrutar de Graphy con todas sus funcionalidades.
        </div>
        <!-- Lista de manuales -->
        <div class="manuales">
            <div class="card-deck">
                <div class="card">
                    <img class="card-img-top" src="../resources/manuales/grafos.png" alt="Grafos">
                    <div class="card-body">
                        <h5 class="card-title"><a href="../resources/manuales/pdf/ManualDeUsuario_Grafos.pdf" target="_blank">Grafos</a></h5>
                    </div>
                </div>
                <div class="card">
                    <img class="card-img-top" src="../resources/manuales/johnson.png" alt="Johnson">
                    <div class="card-body">
                        <h5 class="card-title"><a href="../resources/manuales/pdf/ManualDeUsuario_Johnson.pdf" target="_blank">Algoritmo de Johnson</a></h5>
                    </div>
                </div>
                
                <div class="card">
                    <img class="card-img-top" src="../resources/manuales/asignacion.png" alt="Asignación">
                    <div class="card-body">
                        <h5 class="card-title"><a href="../resources/manuales/pdf/ManualDeUsuario_Asignacion.pdf" target="_blank">Algoritmo de Asignación</a></h5>
                    </div>
                </div>
                <div class="card">
                    <img class="card-img-top" src="../resources/manuales/northwest.png" alt="Norhtwest">
                    <div class="card-body">
                        <h5 class="card-title"><a href="../resources/manuales/pdf/ManualDeUsuario_NorthWest.pdf" target="_blank">Algoritmo de Norhtwest</a></h5>
                    </div>
                </div>
            </div>
            <div class="card-deck">
                <div class="card">
                    <img class="card-img-top" src="../resources/manuales/ordenamiento.png" alt="Ordenamiento">
                    <div class="card-body">
                        <h5 class="card-title"><a href="../resources/manuales/pdf/ManualDeUsuario_Ordenamiento.pdf" target="_blank">Algoritmo de Ordenamiento</a></h5>
                    </div>
                </div>
                <div class="card">
                    <img class="card-img-top" src="../resources/manuales/arbol.png" alt="Arboles">
                    <div class="card-body">
                        <h5 class="card-title"><a href="../resources/manuales/pdf/ManualDeUsuario_Arboles.pdf" target="_blank">Árboles binarios</a></h5>
                    </div>
                </div>
                <div class="card">
                    <img class="card-img-top" src="../resources/manuales/kruskal.png" alt="Arboles">
                    <div class="card-body">
                        <h5 class="card-title"><a href="../resources/manuales/pdf/ManualDeUsuario_Kruskal.pdf" target="_blank">Algoritmo de Kruskal</a></h5>
                    </div>
                </div>
                <div class="card">
                    <img class="card-img-top" src="../resources/manuales/djisktra.png" alt="Arboles">
                    <div class="card-body">
                        <h5 class="card-title"><a href="../resources/manuales/pdf/ManualdeUsuario_Dijkstra.pdf" target="_blank">Algoritmo de Djikstra</a></h5>
                    </div>
                </div>
                
              </div>
        </div>
    </div>
</body>
</html>